BODY {
	margin: 0;
}

.top-wrap {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.main-contents {
	padding-top: 70px;
}

.capability-component {
	.loader-wrap {
		display: flex;
		justify-content: center;
		padding: 50px 0;
	}
}

@import "views/device-view";

@import "components/header-component";
@import "components/loader-component";
@import "components/error-component";

@import "components/capabilities/hardware-capability-component";
@import "components/capabilities/light-sensor-capability-component";
@import "components/capabilities/motion-sensor-capability-component";
